[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/genindent.vim"]
	path = bundle/genindent.vim
	url = https://github.com/vim-scripts/genindent.vim.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/vim-scripts/html5.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/vim-scripts/Tabular.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/syntaxcomplete"]
	path = bundle/syntaxcomplete
	url = https://github.com/vim-scripts/SyntaxComplete.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/securemodelines"]
	path = bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/gtk-vim-syntax"]
	path = bundle/gtk-vim-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/pythonhelper"]
	path = bundle/pythonhelper
	url = https://github.com/vim-scripts/pythonhelper.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-scripts/python.vim.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/info"]
	path = bundle/info
	url = https://github.com/vim-scripts/info.vim
[submodule "bundle/Modeliner"]
	path = bundle/Modeliner
	url = https://github.com/vim-scripts/Modeliner.git
[submodule "bundle/sessionman.vim"]
	path = bundle/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://git.gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "bundle/vimpdb"]
	path = vimpdb
	url = https://github.com/gotcha/vimpdb.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/project"]
	path = bundle/project
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-bitbake"]
	path = bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/opengl.vim"]
	path = bundle/opengl.vim
	url = https://github.com/beyondmarc/opengl.vim.git
[submodule "bundle/glsl.vim"]
	path = bundle/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-tbone"]
	path = bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/bufferline"]
	path = bundle/bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
